@font-face {
  font-family: 'Vollkorn';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Vollkorn-regular/Vollkorn-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vollkorn-regular/Vollkorn-regular.woff2') format('woff2'),
       url('../fonts/Vollkorn-regular/Vollkorn-regular.woff') format('woff'),
       url('../fonts/Vollkorn-regular/Vollkorn-regular.ttf') format('truetype'),
       url('../fonts/Vollkorn-regular/Vollkorn-regular.svg#Vollkorn') format('svg');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Vollkorn-700/Vollkorn-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vollkorn-700/Vollkorn-700.woff2') format('woff2'),
       url('../fonts/Vollkorn-700/Vollkorn-700.woff') format('woff'),
       url('../fonts/Vollkorn-700/Vollkorn-700.ttf') format('truetype'),
       url('../fonts/Vollkorn-700/Vollkorn-700.svg#Vollkorn') format('svg');
}

@font-face {
  font-family: 'Vollkorn';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Vollkorn-italic/Vollkorn-italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vollkorn-italic/Vollkorn-italic.woff2') format('woff2'),
       url('../fonts/Vollkorn-italic/Vollkorn-italic.woff') format('woff'),
       url('../fonts/Vollkorn-italic/Vollkorn-italic.ttf') format('truetype'),
       url('../fonts/Vollkorn-italic/Vollkorn-italic.svg#Vollkorn') format('svg');
}
