@import './variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import './fonts';

body {
  font-family: 'Vollkorn', serif;
}

h1 {
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
}

.section {
  text-align: center;
}

.content, header {
  box-shadow: 3px 0 6px 0 $shadow-color, -3px 0 6px 0 $shadow-color;
}

.content {
  background-color: $x-pallete-4;
  padding-top: 3.5rem;
  position: relative;
  z-index: 100;
}

.nav-link {
  font-family: 'Vollkorn', serif;
  font-size: 1.75rem;
  padding: 0;
}

.navbar {
  line-height: 1.25;
  border-radius: 0;
}

.navbar-brand {
  font-size: 1.6rem;
  padding: 0;
}

.navbar-dark .navbar-brand {
  color: $x-pallete-4;

  &.active {
    color: $x-pallete-3;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.navbar-toggler {
  align-self: center;
}

footer {
  background-color: $x-pallete-1;
  box-shadow: 0 7px 10px -4px $shadow-color, 3px 0 6px 0 $shadow-color, -3px 0 6px 0 $shadow-color;
  color: $x-pallete-2;
  padding-bottom: .25rem;
  padding-top: .5rem;

  i {
    margin: 0 .25rem;
  }
}

.rounded-circle {
  float: left;
  margin: 0 .5rem 0 0;
  max-width: 8rem;
  shape-outside: circle(4.5rem at 4rem 4rem);
}

.curved-left {
  margin-left: 5rem;
  text-align: justify;

  @include media-breakpoint-down(sm) {
    margin-left: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 5rem;
  }
}

@include media-breakpoint-up(md) {
  .fake-border {
    position: relative;
  }

  .fake-border::before {
    background-color: $x-pallete-3;
    content: '';
    height: 90%;
    left: 0;
    position: absolute;
    top: 5%;
    width: 1px;
  }

  .fake-border::after {
    background-color: $x-pallete-3;
    content: '';
    height: 90%;
    position: absolute;
    right: 0;
    top: 5%;
    width: 1px;
  }
}

.col-md-10 {
  position: relative;
}

@include media-breakpoint-down(sm) {
  .nav-left {
    .nav-item {
      text-align: center;
    }
  }

  .nav-right {
    flex-direction: row;
    justify-content: space-around;
  }

  .headroom {
       will-change: transform;
       transition: transform 200ms linear;
   }

   .headroom--pinned {
       transform: translateY(0%);
   }

   .headroom--unpinned {
       transform: translateY(-100%);
   }
}


.dev-icons {
  list-style: none;
  text-align: center;

  .dev-icon {
    display: inline-block;
    width: 3rem;
    margin: 0 .25rem;
  }
}

.specialty-list {
  font-size: 1.25rem;

  @include media-breakpoint-up(md) {
    .list-inline-item:not(:last-child):after {
      font-family: 'FontAwesome';
      content: ' \f013';
      font-size: .5rem;
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}

.accent {
  color: darken($x-pallete-6, 25%);
}

.lifted {
  border-radius: 1rem;
  background-color: $x-pallete-1;
  color: $x-pallete-2;
  box-shadow: 3px 0 6px 0 $shadow-color, -3px 0 6px 0 $shadow-color;

  h3 .accent {
    &:first-child {
      margin-left: .5rem;
    }

    &:last-child {
      margin-right: .5rem;
    }

    &:not(:last-child):not(:first-child) {
      font-size: 1.5rem;
      vertical-align: top;
    }
  }
}

@include media-breakpoint-up(md) {
  .lamp { display: inline; }
}
