@import './variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';
@import './fonts';

body {
  font-family: 'Vollkorn', serif;
}

h1 {
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
}

footer, header {
  position: relative;
  z-index: 1;
}

.content, header {
  box-shadow: 3px 0 6px 0 $shadow-color, -3px 0 6px 0 $shadow-color;
}

.content {
  background-color: $x-pallete-4;
  padding-top: 1rem;
  position: relative;
  z-index: 100;
}

.nav-link {
  font-family: 'Vollkorn', serif;
  font-size: 1.75rem;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  border-radius: 3px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 2rem;
  padding: .125rem;
}

.navbar-dark .navbar-brand {
  color: $x-pallete-4;

  &.active {
    color: $x-pallete-3;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.navbar-toggler {
  align-self: center;
}

footer {
  background-color: $x-pallete-1;
  box-shadow: 0 7px 10px -4px $shadow-color, 3px 0 6px 0 $shadow-color, -3px 0 6px 0 $shadow-color;
  color: $x-pallete-2;
  padding-bottom: .25rem;
  padding-top: .5rem;

  i {
    margin: 0 .25rem;
  }
}

.rounded-circle {
  float: left;
  margin: 0 .5rem 0 0;
  max-width: 8rem;
  shape-outside: circle(4.5rem at 4rem 4rem);
}

.curved-left {
  margin-left: 5rem;
  text-align: justify;

  @include media-breakpoint-down(sm) {
    margin-left: 1rem;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 5rem;
  }
}

@include media-breakpoint-up(md) {
  .fake-border {
    position: relative;
  }

  .fake-border::before {
    background-color: $x-pallete-3;
    content: '';
    height: 80%;
    left: 0;
    position: absolute;
    top: 10%;
    width: 1px;
  }

  .fake-border::after {
    background-color: $x-pallete-3;
    content: '';
    height: 80%;
    position: absolute;
    right: 0;
    top: 10%;
    width: 1px;
  }
}

.col-md-10 {
  position: relative;
}

@include media-breakpoint-down(sm) {
  .nav-left {
    .nav-item {
      text-align: center;
    }
  }

  .nav-right {
    flex-direction: row;
    justify-content: space-around;
  }
}
