@import './variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Vollkorn:400,400i,700,700i');

body {
    font-family: 'Vollkorn', serif;
}

h1 {
    font-size: 3rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Vollkorn', serif;
}

.content {
    background-color: $x-pallete-4;
    padding-top: 1rem;
}

.nav-link {
    font-family: 'Vollkorn', serif;
    font-size: 1.75rem;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2rem;
  border-radius: 3px;
  padding: .25rem;
}

footer {
  background-color: $x-pallete-1;
  padding-top: .5rem;
  color: $x-pallete-4;
  i { margin: 0 .25rem; }
}
