$x-pallete-1: #1a1f1e;
$x-pallete-2: #c8d6bf;
$x-pallete-3: #c98805;
$x-pallete-4: #e3dfba;
$x-pallete-5: #bd3008;
$body-bg: $x-pallete-2;
$body-color: $x-pallete-1;
$link-color: $x-pallete-5;
$brand-inverse: $x-pallete-1;
$navbar-inverse-active-color: $x-pallete-3;
$navbar-inverse-color: $x-pallete-5;
$navbar-inverse-hover-color: $x-pallete-2;
$shadow-color: rgba(0, 0, 0, .5);

$fa-font-path: '~font-awesome/fonts';
