$x-pallete-1: #2A261D;
$x-pallete-2: #6F9888;
$x-pallete-3: #665F4F;
$x-pallete-4: #E2D7B7;
$x-pallete-5: #CC4237;

$body-bg: $x-pallete-2;
$body-color: $x-pallete-1;
$link-color: $x-pallete-5;
$brand-inverse: $x-pallete-1;
$navbar-dark-active-color: $x-pallete-2;
$navbar-dark-color: $x-pallete-5;
