$x-pallete-1: #1A1F1E;
$x-pallete-2: #C8D6BF;
$x-pallete-3: #C98805;
$x-pallete-4: #E3DFBA;
$x-pallete-5: #BD3008;

$body-bg: $x-pallete-2;
$body-color: $x-pallete-1;
$link-color: $x-pallete-5;
$brand-inverse: $x-pallete-1;
$navbar-dark-active-color: $x-pallete-3;
$navbar-dark-color: $x-pallete-5;
$navbar-dark-hover-color: $x-pallete-2;
