extends ../layouts/section.pug

block vars
  - var section = 'About'
  - var anchor = 'about'

block content
  .col-md-10.offset-md-1.fake-border
    .col
      img.rounded-circle.float-xs-left(src='../images/me-prisma.png')
      p.curved-left
        | I'm Alex Ciarlillo and I have a passion for all things computing - from the Linux kernel to the latest JS frameworks and everything in between. 
        | I graduated in 2008 with a Bachelor's degree in Computer Science from Ohio University. Since then I have been working for the Ohio University Library developing WordPress based web sites and Laravel web applications for patrons and library staff.
      //- p
      //-   | I have been using computers since roughly Windows 3.1 (1992), and built my first computer (Pentium II 500) in 1999. I began my first forays into programming at the age of 15 with an old copy of Borland C++ 5.0, and quickly moved into Java, later followed by interpreted lanuages such as Ruby and Python.
      //-   | Computing has been the cornerstone of my life for as long as I can remember, and my wide breadth of knowledge has helped me to quickly learn and adapt to new languages, concepts, and design patterns. Although my current focus is web development, I feel comfortable approaching almost any problem with the proper tools to solve it, whatever they may be.
      p
        | My hobbies include kayak fishing, PC gaming and home automation projects. 
