extends ../layouts/section.pug


block vars
  - var section = 'Projects'
  - var anchor = 'projects'

block content
  .col-md-10.offset-md-1.fake-border.mb-2
    .row
      .col
        p
          | These are some of the websites I have developed for Ohio University Libraries'. 
          | The themes for these sites were developed by myself and based on the Sage theme framework.
          | I have also developed over a dozen small-to-medium sized plugins to enhance various aspects of the main library website.
          | The code for some of these is available in my github repository, but they have not been publicly released as official WordPress plugins.
        
        include ../partials/_work.pug
      
  .col-md-10.offset-md-1.fake-border.mt-4
    .row
      .col
        p
          | Here are some personal projects in various states of completeness. Documentation may be lacking in some cases.
          | These projects are where I tinker and try out new ideas. This is just a few of my projects, please see my Github for a more complete picture.
          
        include ../partials/_personal.pug
