extends ../layouts/section.pug


block vars
  - var section = 'Résumé'
  - var anchor = 'resume'

block content
  .col-md-10.offset-md-1.fake-border
    .col
      .text-center
        .btn-group.mb-4
          a.btn.btn-download(href="/resume/AlexCiarlillo-Resume.pdf")
            i.fa.fa-download
            | PDF
          a.btn.btn-download(href="/resume/AlexCiarlillo-Resume.docx")
            i.fa.fa-download
            | DOCX
          a.btn.btn-download(href="/resume/AlexCiarlillo-Resume.odt")
            i.fa.fa-download
            | ODT
      
      h2.text-center.mt-2 Summary
      p
        | Full stack developer with 8+ years of experience in a diverse academic environment, serving a wide variety of users. Excellent written and verbal communication. Have a Bachelor’s Degree in Computer Science.
      
      h2.text-center.mt-4 Experience
      
      h4
        | Ohio University Libraries - <em>Analyst/Web Developer</em>
      h5
        | June 2008 - September 2017
      p
        ul
          li
            | Primary responsibilities include the development and maintenance of various websites to support the libraries’ online presence. Sites were primarily developed in WordPress or Laravel in a LAMP environment.
            ul
              li
                | Developed WordPress plugins and themes to add unique features and consume vendor APIs across various sites.
              li
                | Developed staff-facing intranet sites to improve customer support workflows.
              li
                | Managed packages and Apache configurations across multiple RHEL5/6 servers.
              li
                | Developed custom deployment processes using Ansible and Composer.
          li
            | Secondary responsibilities focused on integrating and troubleshooting various vendor applications and systems that are crucial to the operation of an academic library.
            ul
              li
                | Integration of vendor products with existing campus-wide SSO technologies.
              li
                | Management of a web proxy for student and faculty access to IP restricted materials.
          
      
      h4
        | Ohio University — <em>Student IT Analyst</em>
      h5
        | September 2006 - June 2008
      p
        ul
          li
            | Developed Ruby scripts to retrieve reports from Blackboard Transaction and MICROS Point of Sale systems.
          li
            | Enhanced and maintained scripts for processing and transferring client data to vendors via FTP and SSH.
      
      h2.text-center.mt-4 Education
      
      h4
        | Ohio University — Athens, OH — <em>B.S., Computer Science</em>
      h5
        | September 2004 - June 2008
      p
        | Primary Coursework:
      .row
        .col-6
          ul
            li
              | Software Design & Engineering
            li
              | Operating Systems & Architecture
            li
              | Parallel Computing
        .col-6
          ul
            li
              | Java GUI Development
            li
              | Functional Programming
            li
              | Relational Database Systems
              
      h2.text-center.mt-4 Skills
      
      .row
        .col-12.col-md-4
          h4 Front End
          ul
            li JavaScript
              ul
                li jQuery
                li VueJS
            li HTML5
            li SCSS/LESS
              ul
                li Bootstrap
            li Webpack
            li Gulp
    
        .col-12.col-md-4
          h4 Back End 
          ul
            li PHP
              ul
                li WordPress 
                li Laravel 
                li Composer
            li Node & NPM
            li SQL
            li Apache
            li NGINX
        
        .col-12.col-md-4
          h4 Miscellaneous
          ul
            li Ansible
            li Vagrant
            li Linux CLI 
            li Version Control 
            li Shibboleth SSO
      
      
