extends ./layouts/main.pug

block content
  .main
    .row.mt-2
      include ./sections/welcome.pug
    .row.mt-5
      include ./sections/about.pug
    .row.mt-5
      include ./sections/projects.pug
    .row.mt-5
      include ./sections/resume.pug
