footer.container
  .row
    .col-6
        span Powered by:
          i.fa.fa-linode
    .col-6.text-right
        span Copyright
          i.fa.fa-copyright
          span.year
          |  Alex Ciarlillo
