footer.container
  .row
    .col-xs-6
        span Powered by
          i.fa.fa-linode
    .col-xs-6.text-xs-right
        span Copyright
          i.fa.fa-copyright
          span.year
          |  Alex Ciarlillo
