footer.container
  .d-flex.justify-content-between
    .left
        span Powered by
          i.fa.fa-linode
    .right.text-right
        span Copyright
          i.fa.fa-copyright
          span.year
          |  Alex Ciarlillo
