footer.container
  .row
    .col-xs-6
        p Powered by
          i.fa.fa-linode
    .col-xs-6.text-xs-right
        P Copyright
          i.fa.fa-copyright
          span.year
          |  Alex Ciarlillo
