footer.container
  .d-flex.justify-content-between
    .left
        span Powered by
          i.fa.fa-html5(title='HTML`5')
          i.fa.fa-css3(title='CSS3')
          i.fa.fa-linode(title='Linode')
          i.fa.fa-bitbucket(title='Bitbucket')
    .right.text-right
        span
          i.fa.fa-copyright
          span.year
          | Alex Ciarlillo
