
nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-sm.row
  .nav-header
    a.navbar-inverse.navbar-brand(href='#')
      | alexciarlillo.com
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapseNav' aria-controls='false' aria-label='Toggle Navigation')
      i.fa.fa-bars
  #collapseNav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.nav-left
          li.nav-item
              a.nav-link#nav-about(href='#about') About
          li.nav-item
              a.nav-link#nav-projects(href='#projects') Projects
          li.nav-item
              a.nav-link#nav-resume(href='#resume') Résumé
      ul.navbar-nav.nav-right
          li.nav-item
              a.nav-link(href='https://github.com/alexciarlillo')
                i.fa.fa-github-square
          li.nav-item
              a.nav-link(href='https://twitter.com/acpound')
                i.fa.fa-twitter-square
          li.nav-item
              a.nav-link(href='https://www.linkedin.com/in/alexciarlillo')
                i.fa.fa-linkedin-square
