
nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-sm.row
  .nav-header
    a.navbar-inverse.navbar-brand(href='/' class={active: page === 'index'})
      | AVC
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapseNav' aria-controls='false' aria-label='Toggle Navigation')
      i.fa.fa-bars
  #collapseNav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.nav-left
          li.nav-item(class={active: page === 'about'})
              a.nav-link(href='about.html') About
          li.nav-item(class={active: page === 'projects'})
              a.nav-link(href='projects.html') Projects
          li.nav-item(class={active: page === 'resume'})
              a.nav-link(href='resume.html') Résumé
      ul.navbar-nav.nav-right
          li.nav-item
              a.nav-link(href='https://github.com/alexciarlillo')
                i.fa.fa-github-square
          li.nav-item
              a.nav-link(href='https://twitter.com/acpound')
                i.fa.fa-twitter-square
          li.nav-item
              a.nav-link(href='https://www.linkedin.com/in/alexciarlillo')
                i.fa.fa-linkedin-square
