
nav.navbar.navbar-dark.bg-inverse.row
    button.navbar-toggler.hidden-lg-up(type='button' data-toggle='collapse' data-target='#collapseNav' aria-controls='false' aria-label='Toggle Navigation')
    .collapse.navbar-toggleable-md#collapseNav
        a.navbar-brand(href='#')
            img.rounded-circle.img-fluid(src='/images/me-prisma.jpg')
        ul.nav.navbar-nav
            li.nav-item(class={active: page === 'index'})
                a.nav-link(href='/') Home
            li.nav-item(class={active: page === 'about'})
                a.nav-link(href='about.html') About
            li.nav-item(class={active: page === 'projects'})
                a.nav-link(href='projects.html') Projects
            li.nav-item(class={active: page === 'resume'})
                a.nav-link(href='resume.html') Résumé
