#work-projects.project-list
  .card-deck.row
    .col-md-4
      .card
        img.card-img-top(src="/images/personal1.png")
        .card-block
          h4.card-title MFL League Site
          p.card-text 
            | A site for integrating with MFL fantasy league sites to fetch team standings. Uses a custom auth provider to log user's in via the MFL API.
          .project-links.d-flex.justify-content-around
            a.btn.btn-sm.btn-project(href="https://github.com/alexciarlillo/mfl-league-site") View Code
    .col-md-4
      .card
        img.card-img-top(src="/images/personal2.png")
        .card-block
          h4.card-title Tak JS
          p.card-text
            | An implementation of the game 'Tak' featured in <em>The Name of the Wind</em>. Based on the Phaser CE JavaScript game library.
          .project-links.d-flex.justify-content-around
            a.btn.btn-sm.btn-project(href="https://github.com/alexciarlillo/tak") View Code
    .col-md-4
      .card
        img.card-img-top(src="/images/personal3.png")
        .card-block
          h4.card-title Mom's Recipes
          p.card-text
            | A Laravel application for digitizing, storing and sharing recipes. Focused on TDD.
          .project-links.d-flex.justify-content-around
            a.btn.btn-sm.btn-project(href="https://github.com/alexciarlillo/moms-recipes") View Code
