#work-projects.project-list
  .card-deck.row
    .col-md-4
      .card
        img.card-img-top(src="/images/work1.png")
        .card-block
          h4.card-title Alden Library Website
          p.card-text 
            | A fully customized WordPress theme based on Sage. Staff members as a custom post type. Plugins to integrate with various calendars. Custom navigation walker and off-canvas responsive navigation.
          .project-links
            a.btn.btn-sm.btn-project(href="https://www.library.ohiou.edu") View Site
            a.btn.btn-sm.btn-project(href="https://github.com/alexciarlillo/wp-theme-university") View Code
    .col-md-4
      .card
        img.card-img-top(src="/images/work2.png")
        .card-block
          h4.card-title Ohio University History
          p.card-text
            | A learning aid developed for introducing freshman to the history of the university. Uses a custom "lesson" post type to create units and chapters of material.
          .project-links
            a.btn.btn-sm.btn-project(href="https://www.library.ohiou.edu/ohiouniversityhistory") View Site
    .col-md-4
      .card
        img.card-img-top(src="/images/work3.png")
        .card-block
          h4.card-title EZProxy Config Manager
          p.card-text
            | A Laravel application for managing EZProxy configurations in a database-driven manner, rather than a flat configuration file.
          .project-links
            a.btn.btn-sm.btn-project(href="https://github.com/alexciarlillo/laravel-ezproxy-config") View Code
